<!DOCTYPE html>
<html>
<head>
    <title>File Upload and Management</title>
</head>
<body>
    <h1>Welcome to File Upload and Management</h1>
    <ul>
        <li><a href="/upload">Upload a Single File</a></li>
        <li><a href="/upload/multiple">Upload Multiple Files</a></li>
        <li><a href="/fetch-random ">Fetch a Random File</a></li>
        <li><a href="/fetch-multiple-random">Fetch Multiple Random Files</a></li>
        <li><a href="/gallery">View Gallery of All Files</a></li>
        <li><a href="/gallery-pagination">View Gallery with Pagination</a></li>
    </ul>

</body>
</html>
